<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- IE 호환성 보기 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 반응형 웹 설정 -->
    <title>SOMNWAL SHOP | 관리자 페이지</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <!-- 네비게이션 바 -->
    <th:block th:include="component/navbar"></th:block>

    <div class="container-fluid">
        <div class="mb-3">
            <h1>관리자 페이지</h1>
        </div>

    </div>

    <!-- 푸터 -->
    <th:block th:include="component/footer"></th:block>
</body>
</html>