<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- IE 호환성 보기 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 반응형 웹 설정 -->
    <title>SOMNWAL SHOP | 사용자 관리</title>

    <th:block th:include="component/common"></th:block>
</head>
<body>
    <!-- 네비게이션 바 -->
    <th:block th:include="component/navbar"></th:block>

    <div class="container-fluid">
        <div class="mb-3">
            <h1>사용자 관리</h1>
        </div>

        <!-- 메시지 표시 영역 -->
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <!-- 오류 표시 영역 -->
        <div th:if="${error != null}" class="alert alert-danger text-center">
            [[${error}]]
        </div>

        <!-- 상단 툴 영역 -->
        <div class="row mb-2 mt-5">
            <div class="col-8">
                <!-- 검색창 영역 -->
                <div>
                    <form th:action="@{/users/page/1}" class="form-inline">

                        <input type="hidden" name="sortField" th:value="${sortField}" />
                        <input type="hidden" name="sortDir" th:value="${sortDir}" />

                        <input type="search" class="form-control" name="keyword" th:value="${keyword}" />
                        &nbsp;&nbsp;
                        <input type="submit" value="검색" class="btn btn-primary" />
                    </form>
                </div>
            </div>
            <div class="col-4">
                <div class="text-right">
                    <a class="btn btn-primary" th:href="@{/users/add}">사용자 추가</a>
                </div>
            </div>
        </div>



        <div>
            <table class="table table-bordered table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            <a th:if="${sortField != 'id'}" class="text-white"
                               th:href="@{'/users/page/' + ${pageNum} + '?sortField=id&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                ID
                            </a>
                            <a th:if="${sortField == 'id'}" class="text-white"
                               th:href="@{'/users/page/' + ${pageNum} + '?sortField=id&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                ID
                            </a>

                            <span th:if="${sortField == 'id'}"
                                  th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                            </span>
                        </th>

                        <th>사진</th>

                        <th>
                            <a th:if="${sortField != 'name'}" class="text-white"
                                th:href="@{'/users/page/' + ${pageNum} + '?sortField=name&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                이름
                            </a>
                            <a th:if="${sortField == 'name'}" class="text-white"
                               th:href="@{'/users/page/' + ${pageNum} + '?sortField=name&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                이름
                            </a>

                            <span th:if="${sortField == 'name'}"
                                  th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                            </span>
                        </th>

                        <th>
                            <a th:if="${sortField != 'email'}" class="text-white"
                               th:href="@{'/users/page/' + ${pageNum} + '?sortField=email&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                이메일
                            </a>
                            <a th:if="${sortField == 'email'}" class="text-white"
                               th:href="@{'/users/page/' + ${pageNum} + '?sortField=email&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                이메일
                            </a>

                            <span th:if="${sortField == 'email'}"
                                  th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                            </span>
                        </th>

                        <th>
                           역할
                        </th>

                        <th>
                            <a th:if="${sortField != 'enabled'}" class="text-white"
                               th:href="@{'/users/page/' + ${pageNum} + '?sortField=enabled&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                활성화
                            </a>
                            <a th:if="${sortField == 'enabled'}" class="text-white"
                               th:href="@{'/users/page/' + ${pageNum} + '?sortField=enabled&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                                활성화
                            </a>

                            <span th:if="${sortField == 'enabled'}"
                                  th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                            </span>
                        </th>
                        <th>작업</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td>[[${user.id}]]</td>
                        <td class="text-center">
                            <span th:if="${user.photo == null}" class="fas fa-portrait fa-2x"></span>
                            <img th:if="${user.photo != null}" th:src="@{${user.photosImagePath}}" width="100px" />
                        </td>
                        <td>[[${user.name}]]</td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.roles}]]</td>
                        <td class="text-center">
                            <div th:if="${user.enabled == true}">
                                <span class="fas fa-check-circle fa-2x" style="color: green"></span>
                            </div>
                            <div th:if="${user.enabled == false}">
                                <span class="fas fa-check-circle fa-2x" style="color: grey"></span>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-warning" th:href="@{'/users/edit/' + ${user.id}}"><span class="fas fa-edit"></span>&nbsp;수정</a>
                            <a class="btn btn-danger btn-delete" th:href="@{'/users/delete/' + ${user.id}}"><span class="fas fa-trash"></span>&nbsp;삭제</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-center m-1" th:if="${ttcn > 0}">
            <span>현재 사용자 : [[${startCount}]] ~ [[${endCount}]]&emsp;|&emsp;전체 사용자 : [[${ttcn}]]</span>

            <div>
                <nav>
                    <ul class="justify-content-center pagination mt-3">
                        <li th:class="${ pageNum > 1 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{'/users/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">맨 앞</a>
                        </li>
                        <li th:class="${ pageNum > 1 ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{'/users/page/' + ${pageNum - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">이전</a>
                        </li>


                        <li th:class="${pageNum != i ? 'page-item' : 'page-item active'}" th:each="i : ${#numbers.sequence(1, maxPageNum)}">
                            <a class="page-link" th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                        </li>


                        <li th:class="${ pageNum < maxPageNum ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{'/users/page/' + ${pageNum + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">다음</a>
                        </li>
                        <li th:class="${ pageNum < maxPageNum ? 'page-item' : 'page-item disabled'}">
                            <a class="page-link" th:href="@{'/users/page/' + ${maxPageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">맨 뒤</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="text-center m-1" th:if="${ttcn <= 0}">
            <span>사용자가 없습니다.</span>
        </div>
    </div>

    <!-- Confirm 모달 -->
    <th:block th:include="component/confirmModal"></th:block>

    <!-- 푸터 -->
    <th:block th:include="component/footer"></th:block>

    <script type="text/javascript">
        $(document).ready(function() {

            $('.btn-delete').click(function (e) {
                e.preventDefault();

                $('#confirmModalDialogTitleText').html('확인');
                $('#confirmModalDialogBodyText').html('정말 삭제하시겠습니까?');

                $('#confirmModalDialogConfirmButton').attr('href', $(this).attr('href'));
                $('#confirmModalDialog').modal();
            });
        });
    </script>
</body>
</html>