<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- IE 호환성 보기 설정 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 반응형 웹 설정 -->
    <title>SOMNWAL SHOP | 사용자 관리</title>

    <th:block th:include="component/common"></th:block>
</head>
<body>
    <!-- 네비게이션 바 -->
    <th:block th:include="component/navbar"></th:block>

    <div class="container-fluid">
        <div class="mb-3">
            <h1>사용자 관리</h1>
        </div>

        <!-- 메시지 표시 영역 -->
        <div th:if="${message != null}" class="alert alert-success text-center">
            [[${message}]]
        </div>

        <!-- 오류 표시 영역 -->
        <div th:if="${error != null}" class="alert alert-danger text-center">
            [[${error}]]
        </div>

        <div>
            <div class="text-right mb-2 ">
                <a class="btn btn-primary" th:href="@{/users/add}">사용자 추가</a>
            </div>
            <table class="table table-bordered table-hover table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>ID</th>
                        <th>사진</th>
                        <th>이름</th>
                        <th>이메일</th>
                        <th>역할</th>
                        <th>활성화</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td>[[${user.id}]]</td>
                        <td class="text-center">
                            <span class="fas fa-portrait fa-2x"></span>
                        </td>
                        <td>[[${user.name}]]</td>
                        <td>[[${user.email}]]</td>
                        <td>[[${user.roles}]]</td>
                        <td class="text-center">
                            <div th:if="${user.enabled == true}">
                                <span class="fas fa-check-circle" style="color: green"></span>
                            </div>
                            <div th:if="${user.enabled == false}">
                                <span class="fas fa-check-circle" style="color: grey"></span>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-warning" th:href="@{'/users/edit/' + ${user.id}}"><span class="fas fa-edit"></span>&nbsp;수정</a>
                            <a class="btn btn-danger btn-delete" th:href="@{'/users/delete/' + ${user.id}}"><span class="fas fa-trash"></span>&nbsp;삭제</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Confirm 모달 -->
    <th:block th:include="component/confirmModal"></th:block>

    <!-- 푸터 -->
    <th:block th:include="component/footer"></th:block>

    <script type="text/javascript">
        $(document).ready(function() {

            $('.btn-delete').click(function (e) {
                e.preventDefault();

                $('#confirmModalDialogTitleText').html('확인');
                $('#confirmModalDialogBodyText').html('정말 삭제하시겠습니까?');

                $('#confirmModalDialogConfirmButton').attr('href', $(this).attr('href'));
                $('#confirmModalDialog').modal();
            });
        });
    </script>
</body>
</html>